@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Semibold.eot");
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"),
    url("SFUIDisplay-Semibold.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Semibold.woff2") format("woff2"),
    url("SFUIDisplay-Semibold.woff") format("woff"),
    url("SFUIDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Medium.eot");
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"),
    url("SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Medium.woff2") format("woff2"),
    url("SFUIDisplay-Medium.woff") format("woff"),
    url("SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Regular.eot");
  src: local("SF UI Display Medium"), local("SFUIDisplay-Regular"),
    url("SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("SFUIDisplay-Regular.woff2") format("woff2"),
    url("SFUIDisplay-Regularwoff") format("woff"),
    url("SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
